<?xml version="1.0" encoding="UTF-8"?>
<launch>


 <node name="keyboard" pkg="keyboard" type="keyboard" output="screen"/>
  <node name="CBBA_main" pkg="CBBA" type="CBBA_node.py" output="screen"/>
<!-- <node name="keyboard" pkg="keyboard" type="keyboard" output="screen" launch-prefix="xterm -e"/>
 -->


  
</launch>
